[main]
Description=
Host=202.69.10.17
AuthType=1
GroupName=SOUTH2
GroupPwd=
enc_GroupPwd=DD89C7940DD0B51620C21C3F73962966699C8DD637E87B11BBB4C67C48168BAD465B0CE20EC1BF5F914291EAF6BB02B0
EnableISPConnect=0
ISPConnectType=0
ISPConnect=eVo
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=S_JCB_MMANSOOR1
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=1
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
